.navbar {
    background-color: #124E66;
    padding: 10px;
    color: white;
    text-align: left;
}
  
.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

  /* .container {
    padding: 20px;
  } */