.inputSearch {
    font-family: Arial, sans-serif;
    font-size: large;
    color: black;
    text-align: left;
    height: 25px;
    width: 300px;
    position: relative;
  }
  
  .inputDropDown {
    font-family: Arial, sans-serif;
    font-size: large;
    color: black;
    text-align: center;
    height: 30px;
    position: relative;
  }

  .inputSubmit {
    font-family: Arial, sans-serif;
    font-size: large;
    color: black;
    text-align: center;
    height: 30px;
    position: relative;
  }